body {
	background: #CCCCCC;
}

#calorimetria {
	width: 30;
	border: 5px solid paleturquoise;
	src="calorimetria.jpg"
}
h1 {
	style="text-align: center"
}

p {
style="text-align: center
}

#missao {
	font-size: 20px
}
strong
{
color: red;
}